<div style="width: 90%;margin: auto;" class="ag-grid-container">
        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham-dark" 
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [getContextMenuItems]="getContextMenuItems"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [pinnedTopRowData]="pinnedTopRowData"
        (gridReady)="onGridReady($event)"
        [sideBar]="sideBar"
        [context]="context"
        >
</ag-grid-angular>
</div>
