<h5 class="card-title text-center">Top Gainers</h5>
<table class="table" style="background-color:darkslategray;">
	<thead>
		<tr>
			<th scope="col" style="background-color: rgb(199, 247, 199);">Exchange</th>
			<th scope="col" style="background-color: rgb(199, 247, 199);">Current Price</th>
			<th scope="col" style="background-color: rgb(199, 247, 199);">Change</th>
			<th scope="col" style="background-color: rgb(199, 247, 199);">% Change</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of stocks; index as i">
			<td style="background-color: rgb(199, 247, 199);">
				{{ item.symbol }}
			</td>
			<td style="background-color: rgb(199, 247, 199);">{{ item.ltp | number }}</td>
			<td style="background-color: rgb(153, 252, 153); color: green;">{{ (item.ltp-item.prev_price) | number }}</td>
			<td style="background-color: rgb(153, 252, 153); color: green;">{{item.perChange}}%</td>
		</tr>
	</tbody>
</table>
