<ng-template #login let-modal>
	<div class="modal-header">
		<h5 class="modal-title" id="modal-basic-title">Login</h5>
		<button type="button" class="btn btn-sm btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="loginForm">
			<div class="mb-1">
				<input class="input-custom form-control form-control-sm mb-3" type="text" placeholder="User Id" formControlName="userId">
				<input class="form-control form-control-sm " type="password" placeholder="password" formControlName="password">
			</div>
			<span *ngIf="failedLogin" style="color: crimson;">Invalid credentials !! Please try again</span>
		</form>
	</div>
	<div class="modal-footer">
		<span style="font-size: smaller;">Don't have an account ?<a href="javascript:void(0)" (click)="redirectToSignUp();modal.dismiss('Cross click')"> Sign up</a></span>
		<button type="button" class="btn btn-sm btn-outline-dark" (click)="onLogin();" [disabled]="!loginForm.valid">Login</button>
	</div>
</ng-template>
