<h5 class="card-title text-center">Top Loosers</h5>
<table class="table" style="background-color:hsl(0, 69%, 90%);">
	<thead>
		<tr>
			<th scope="col" style="background-color:hsl(0, 69%, 90%);">Exchange</th>
			<th scope="col" style="background-color:hsl(0, 69%, 90%);">Current Price</th>
			<th scope="col" style="background-color:hsl(0, 69%, 90%);">Change</th>
			<th scope="col" style="background-color:hsl(0, 69%, 90%);">% Change</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of stocks; index as i">
			<td style="background-color:hsl(0, 69%, 90%);">
				{{ item.symbol }}
			</td>
			<td style="background-color:hsl(0, 69%, 90%);">{{ item.ltp | number }}</td>
			<td style="background-color:hsl(0, 100%, 86%);color: red;">{{ (item.ltp-item.prev_price) | number }}</td>
			<td style="background-color:hsl(0, 100%, 86%);color: red;">{{item.perChange}}%</td>
		</tr>
	</tbody>
</table>
