<div class="card" style="width: 90%;margin: auto;margin-top: 20px;">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div style="padding-left: 20px; padding-top: 10px;">
                <h4 >{{stockDetailsData.name | truncate:20}}</h4>
                <h6>{{stockDetailsData.symbol}}</h6>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div style="margin-left: auto; margin-right: auto;"> 
                <span style="font-size: 24px; margin-right: 25px;">{{stockDetailsData.price | twoDecimal}}</span>
                <span *ngIf="stockDetailsData.change>=0">
                    <img src="../../../assets/arrowUp.png">
                    <span style="color: green">{{stockDetailsData.change | twoDecimal}}</span>
                    <span style="color: green;">({{stockDetailsData.changesPercentage | twoDecimal}})</span>
                </span>
                <span *ngIf="stockDetailsData.change<0">
                    <img src="../../../assets/arrowDown.png">
                    <span style="color: red">{{stockDetailsData.change | twoDecimal}}</span>
                    <span style="color: red;">({{stockDetailsData.changesPercentage | twoDecimal}})</span>
                </span>  
            </div>
            <div style="padding-left: 50px;">
                <b>Vol</b> : {{stockDetailsData.volume}}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="bob-container">
                <span>|</span>
                <div class="bob" [style.left]="getBobPosition()"></div>
                <div class="line"></div>
                <span>|</span>
                <div class="number left">{{stockDetailsData.yearLow}}</div>
                <div class="number right">{{stockDetailsData.yearHigh}}</div>
                <div class="numb left">Year Low</div>
                <div class="numb right">Year High</div>
            </div>                            
        </div>
    </div>
</div>
<app-stock-infos [stockDetailsData]="stockDetailsData"></app-stock-infos>

<div class="fin-card">
    <h3 class="text-center">Financials </h3>
    <div class="item1">
        <input type="radio" class="btn-check" name="options" id="annual" autocomplete="off" checked (change)="changePeriod('annual')">
        <label class="btn btn-secondary" for="annual">Annually</label>
        
        <input type="radio" class="btn-check" name="options" id="quarter" autocomplete="off" (change)="changePeriod('quarter')">
        <label class="btn btn-secondary" for="quarter">Quarterly</label>
    </div>
    <div class="item2">
        <div class="d-flex mb-2">
            <div class="flex-fill">
                <input type="radio" class="btn-check" name="financialTerms" id="revenue" autocomplete="off" checked (change)="changeParams('revenue')">
                <label class="btn btn-secondary w-100" for="revenue">Revenue</label>
            </div>
        </div>
        <div class="d-flex mb-2">
            <div class="flex-fill">
                <input type="radio" class="btn-check" name="financialTerms" id="grossProfit" autocomplete="off" (change)="changeParams('grossProfit')">
                <label class="btn btn-secondary w-100" for="grossProfit">Profit</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill">
                <input type="radio" class="btn-check" name="financialTerms" id="eps" autocomplete="off" (change)="changeParams('eps')">
                <label class="btn btn-secondary w-100" for="eps">EPS</label>
            </div>
        </div>       
    </div>

    <div class="item3"><app-column-chart [chartProp]="chartProp"></app-column-chart></div>
</div>

