<div class="card" style="width: 90%;margin: auto;margin-top: 20px;">
    <h4>Stock Name</h4>
</div>

<div class="card" style="width: 90%;margin: auto; margin-top: 50px;padding-top: 10px;padding-bottom: 10px;">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Open </span>
                        <span>3591.00</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Previous Close </span>
                        <span>3589.35</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Volume </span>
                        <span>2075691</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Value </span>
                        <span>75169.07</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>High </span>
                        <span>3634.95</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Low </span>
                        <span>3575.05</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>UC Limit </span>
                        <span>3948.25</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>LC Limit </span>
                        <span>3230.45</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>TTM EPS </span>
                        <span>119.55</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>TTM PE </span>
                        <span>30.29</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>P/B </span>
                        <span>14.75</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Face Value </span>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Mkt Cap (Rs. Cr.) </span>
                        <span>1,325,088</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Dividend Yield </span>
                        <span>3.18</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>20D Avg Volume </span>
                        <span>2,066,137</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Sector PE </span>
                        <span>245.54</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>1234.21</p>
      </mat-card-content>
</mat-card> -->
