<div class="card" style="width: 90%;margin: auto;margin-top: 20px;">
    <div class="row">
        <div class="col">
            <div style="padding-left: 20px; padding-top: 10px;">
                <h4 >{{stockDetailsData.name}}</h4>
                <h6>{{stockDetailsData.symbol}}</h6>
            </div>
        </div>
        <div class="col">
            <div style="margin-left: auto; margin-right: auto;"> 
                <h4>{{stockDetailsData.price}}</h4>
                <h6>{{stockDetailsData.changesPercentage}}</h6>
            </div>
        </div>
        <div class="col">
            Volume
        </div>
    </div>
</div>

<div class="card" style="width: 90%;margin: auto; margin-top: 50px;padding-top: 10px;padding-bottom: 10px;">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Open </span>
                        <span>{{stockDetailsData.open}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Previous Close </span>
                        <span>{{stockDetailsData.previousClose}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Volume </span>
                        <span>{{stockDetailsData.volume}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Value </span>
                        <span>{{stockDetailsData.previousClose}}</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>High </span>
                        <span>{{stockDetailsData.dayHigh}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Low </span>
                        <span>{{stockDetailsData.dayLow}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>UC Limit </span>
                        <span>3948.25</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>LC Limit </span>
                        <span>3230.45</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>TTM EPS </span>
                        <span>{{stockDetailsData.eps}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>TTM PE </span>
                        <span>{{stockDetailsData.pe}}</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>P/B </span>
                        <span>14.75</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Face Value </span>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Mkt Cap (Rs. Cr.) </span>
                        <span>1,325,088</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Dividend Yield </span>
                        <span>3.18</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>20D Avg Volume </span>
                        <span>2,066,137</span>
                    </div>
                </div>
                <div class="row">
                    <div style="display: flex;justify-content: space-between;">
                        <span>Sector PE </span>
                        <span>245.54</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 90%;margin: auto; margin-top: 50px;padding-top: 10px;padding-bottom: 10px;">
    <highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFlag"
  [callbackFunction]="chartCallback"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
</div>

