.transpar{
    position: absolute;
    z-index: -1;
    top:0px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
    justify-content: space-between;
}

#Documentations{
    margin-left: 100px;
    margin-right: 100px;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {color:aliceblue;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;  }

#options-card {
    position: absolute;
    /* top: 60px;
    right: 10px; */
    left: -10px;
    width: 150px;
    border: 1px solid #ccc;
    background-color:#333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .option:hover {
    background-color: #dbf3fa;
    color: #333;
  }

  .topbar{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: aliceblue;
  }


  .menu-button{
    display: none;
  }

  nav li:nth-child(7) {
    margin-right: 50px;
  }

  nav li:nth-child(6) {
    width: 240px;
  }

  .sidebar{
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    color: aliceblue;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li{
    width: 100%;
  }

  .productSubMenu{
    display: none;
    list-style: none;
  }

  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }

  }

  /* @media(max-width: 800px){
    .sidebar{
      width: 25%;
      
    }
  } */

  @media(min-width: 801px){
    .sidebar{
      display: none;
    }
  }

.navbar{
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.menus{
  width: 40%;
  color:aliceblue;
  display: flex;
  justify-content: space-between;
}

.search-bar{
  width: 25%
}

.products{
  position: relative;
}

.product-options{
  display: none;
  width: 100px;
  position: absolute;
  left: -20px;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.products:hover .product-options {
  display: block;
}

.product-option {
  padding: 8px 16px;
  cursor: pointer;
}

.product-option:hover {
  background-color: #f1f1f1;
  color: #333;
}
  