<div class="" >
    <div>
        <nav class="navbar navbar-expand-lg " style="background-color: transparent ;">
           
            <div class="container">
                <div class="title">
                    <h2 style="color: aliceblue;">Analytics.com</h2>
                </div>
                <div class="items" style="color: cornflowerblue;">
                    <div class="dropdown">
                        <p>Products</p>
                        <div class="dropdown-content">
                            <!-- <a href="javascript:void(0)" (click)="navigateToIndices()">Indices</a>
                            <a href="#">Technicals</a>
                            <a href="#">News</a> -->
                            <div id="options-card">
                                <div class="option" (click)="navigateToIndices()">Indices</div>
                                <div class="option" (click)="handleOptionClick('settings')">Technicals</div>
                                <div class="option" (click)="handleOptionClick('settings')">News</div>
                            </div>
                        </div>      
                        <ng-container *ngIf="showOptionsCard">
                            
                        </ng-container>
                    </div>
                    <div class="products" id="Documentations">Documentations</div>
                    <div class="products">Pricing</div>
                </div>
                <div class="profile" style="color: aliceblue;">
                    <app-profile></app-profile>
                </div>
            </div>
            
        </nav>
    </div>
    <!-- <div class="transpar">
        <img src=".\..\..\assets\technical-chart-image.png">
    </div> --> 
</div>


