
<div class="card" style="width: 90%;margin: auto;margin-top: 20px;">
    <div class="row">
        <div class="col-6">
            <label>Select Type : </label>
            <select [(ngModel)]="selectedIndexType" (change)="onTypeChange()">
                <!-- <option [value]="indexType[0]['value']" > {{indexType[0]['displayName']}}</option> -->
                <option *ngFor="let item of indexType" [value]="item.value"> {{item.displayName}}</option>
            </select>
        </div>
        <div class="col-6">
            <label>Select Index : </label>
            <select [(ngModel)]="selectedIndex" (change)="onIndexChange()">
                <!-- <option [value]="selectedIndexTypeOptions[0].value"> {{selectedIndexTypeOptions[0].displayName}}</option> -->
                <option *ngFor="let key of selectedIndexTypeOptions" [value]="key.value"> {{key.displayName}}</option>
            </select>
        </div>
    </div>      
</div>

<div style="width: 90%;margin: auto;">
    <mat-card>
        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham-dark" 
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [getContextMenuItems]="getContextMenuItems"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [pinnedTopRowData]="pinnedTopRowData"
        >
        </ag-grid-angular>
    </mat-card>
</div>
