
<div class="card" style="width: 90%;margin: auto;margin-top: 20px;">
    <div class="row">
        <div class="col-6">
            <label>Select Type : </label>
            <select [(ngModel)]="selectedIndexType" (change)="onTypeChange()">
                <!-- <option [value]="indexType[0]['value']" > {{indexType[0]['displayName']}}</option> -->
                <option *ngFor="let item of indexType" [value]="item.value"> {{item.displayName}}</option>
            </select>
        </div>
        <div class="col-6">
            <label>Select Index : </label>
            <select [(ngModel)]="selectedIndex" (change)="onIndexChange()">
                <!-- <option [value]="selectedIndexTypeOptions[0].value"> {{selectedIndexTypeOptions[0].displayName}}</option> -->
                <option *ngFor="let key of selectedIndexTypeOptions" [value]="key.value"> {{key.displayName}}</option>
            </select>
        </div>
    </div>      
</div>

<app-ag-grid-index 
    [data]="rowData"
>
</app-ag-grid-index>
